section {
    background-color: brown;
    width: 700px;
    height: 700px;
}

div {
    background-color: coral;
    width: 50%;
    height: 50%;
}

article {
    font-size: 20px;
}

h2 {
    font-size: 1em;
}

p {
    font-size: .8em;
}

button {
    font-size: .8em;
    padding: 0 1em;
    margin-bottom: 1em;
    border-radius: .5em;
    background-color: bisque;
}